@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-layout-sider-children{
    background: white;
}
.ant-layout-sider-trigger{
    background-color: #FF653C !important;
}
.ant-menu-light .ant-menu-item-selected{
    background-color: #F6E6E6;
}
.ant-menu-light.ant-menu-inline .ant-menu-item {
    color: black ;
}
.ant-menu-inline-collapsed >.ant-menu-item .ant-menu-item-icon {
    color: black !important;
}
.ant-menu-item .ant-menu-item-disabled {
    color: gray !important;
  }
  .ant-menu-inline-collapsed > .ant-menu-item-disabled .ant-menu-item-icon{
    color: gray !important;
  }
  .ant-input {
    font-family: 'Poppins', serif ;
  }
  /* .ant-input-affix-wrapper:hover{
    border-color: #FF653C !important;
  }
  .ant-input-affix-wrapper-focused {
    border-color: #FF653C !important;
    box-shadow: none !important;
  } */