@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-layout-sider-children {
  background: white;
}
.ant-layout-sider-trigger {
  background-color: #ff653c !important;
}
.ant-menu-light .ant-menu-item-selected {
  background-color: #f6e6e6;
}
.ant-menu-light.ant-menu-inline .ant-menu-item {
  color: black;
}
.ant-menu-inline-collapsed > .ant-menu-item .ant-menu-item-icon {
  color: black !important;
}
.ant-menu-item .ant-menu-item-disabled {
  color: gray !important;
}
.ant-menu-inline-collapsed > .ant-menu-item-disabled .ant-menu-item-icon {
  color: gray !important;
}
.ant-input {
  font-family: 'Poppins', serif;
}
.createWorkspace.ant-btn-default:hover {
  color: white !important;
}
.publishedBtn.ant-btn-default:hover {
  color: white !important;
  border: 2px solid #0923a6 !important;
  background-color: #0923a6;
}
.parameters.ant-btn-default {
  box-shadow: 0px 2px 7px 0px #6969691c;
  height: 40px;
}
.parameters.ant-btn-default:hover {
  color: #1d1d1d !important;
  box-shadow: 0px 2px 7px 0px #7676765c;
  border: #f4f4f4 !important;
}
.ant-modal-root .ant-modal-mask {
  position: fixed;
  inset: 0;
  z-index: 1000;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  pointer-events: none;
  backdrop-filter: blur(3px);
}
.ant-modal .ant-modal-title {
  color: #1d1d1d;
  font-size: 20px;
  letter-spacing: -0.4px;
}
.ant-modal-footer {
  display: flex !important;
  align-items: flex-start !important;
}
.createWorkspace .ant-modal-footer .ant-btn-default {
  display: none !important;
}
.ant-modal .ant-modal-footer .ant-btn + .ant-btn {
  background-color: #ff653c !important;
  font-family: 'Poppins', serif;
}
.workspaceSearch .ant-input-affix-wrapper {
  padding: 8px 18px !important;
}
.ant-input-search .ant-input-search-button {
  height: 39px !important;
}

.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  color: #1d1d1d !important;
  font-weight: 900;
  font-family: 'Poppins';
  font-size: 18px;
}
.css-dpjnhs-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused
  .MuiOutlinedInput-notchedOutline {
  border: 1px solid #d9d9d9 !important;
}
.css-dpjnhs-MuiInputBase-root-MuiOutlinedInput-root {
  font-family: 'Poppins' !important;
  font-size: 14px !important;
  padding: 24px !important;
  border-radius: 12px !important;
  height: 100%;
  align-items: flex-start !important;
}
.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
  height: 100%;
}
.css-14pt78w-MuiSlider-rail,
.css-1gv0vcd-MuiSlider-track {
  color: #d9d9d9;
}
.css-eg0mwd-MuiSlider-thumb {
  color: #ff653c;
}
