@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-layout-sider-children {
  background: white;
}
.ant-layout-sider-trigger {
  background-color: #ff653c !important;
}
.ant-menu-light .ant-menu-item-selected {
  background-color: #f6e6e6;
}
.ant-menu-light.ant-menu-inline .ant-menu-item {
  color: black;
}
.ant-menu-inline-collapsed > .ant-menu-item .ant-menu-item-icon {
  color: black !important;
}
.ant-menu-item .ant-menu-item-disabled {
  color: gray !important;
}
.ant-menu-inline-collapsed > .ant-menu-item-disabled .ant-menu-item-icon {
  color: gray !important;
}
.ant-input {
  font-family: 'Poppins', serif;
}
.ant-btn-default:hover {
  color: white !important;
}
.ant-modal-root .ant-modal-mask {
  position: fixed;
  inset: 0;
  z-index: 1000;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  pointer-events: none;
  backdrop-filter: blur(3px);
}
.ant-modal .ant-modal-title {
  color: #1d1d1d;
  font-size: 20px;
  letter-spacing: -0.4px;
}
